#main {
   width: 800px;
   margin: auto;
      
}
body {
    font-family: sans-serif;
    background: #e3e3e3;
}

ul{
    border: 3px solid black;
    border-bottom-right-radius: 
}

#ab {
    text-align: center;
}