h1 {
    font-family: sans-serif
}
p {
    font-family: sans-serif
}
ul {
    font-family: sans-serif
}
dt {
    font-family: sans-serif
}
dd {
    font-family: sans-serif
}
a{
    font-family: sans-serif; color:black
}
div{
    text-align: center;
    background: aqua;
}