body {
	background: black;
	width: 1000px;
	margin: auto;
	font-family: sans-serif, aerial;
}

.wrap ul {
	text-align: center;
	border: 3px solid white;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrap a {
	color: gold;
	text-decoration: none;
}

.wrap a:hover {
	text-decoration: underline;
	color: white;
}

.wrap h1 {
	text-align: center;
	color: gold;
	font-size: 50px;
}

.wrap li {
	display: inline;
	padding-right: 30px;
}

.content {
    border: 3px solid white;
    border-radius: 20px;
    float: left;
	width: 500px;
	height: 450px;


}

.content p {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

aside {
	float: right;
	width: 450px;
	color: gold;
	border: 3px solid white;
	border-radius: 20px;
}

aside iframe {
	padding-left: 70px;
	padding-top: 30px;
    width: 300px;
    height: 300px;
    border: 0;
}

aside p {
	padding-left: 0px;
	text-align: center;
}

#loc {
	font-size: 20px;
}
