body {
    width: 900px;
    margin: auto;
    font-family: sans-serif, aerial;
    background: black;
}

.wrap h1 {
    font-size: 50px;
}

.wrap h1, ul{
    text-align: center;
}

.wrap li {
    display: inline;
    text-decoration: none;
    padding-right: 25px; 
}

.wrap a, h1, p {
    color: gold;
}

.wrap a {
    text-decoration: none;
}

.wrap a:hover {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.wrap ul {
    border: 3px solid gold;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.content {
    float: left;
    width: 500px;
}